body {
  font-family: Arial, Helvetica, sans-serif;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.card {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

h1 {
  color: #70757a;
  font-size: 38px;
  font-weight: 100;
  line-height: 29px;
  line-height: 48px;

  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}
.weather-temperature img {
  margin-right: 10px;
  display: inline-block;
  height: 60px;
  width: 60px;
  vertical-align: top;
}
.weather-temperature strong {
  color: black;
  display: inline;
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
  vertical-align: top;
}

.weather-temperature small {
  color: black;
  display: inline;
  line-height: 22px;

  font-size: 16px;

  padding-left: 2px;
  vertical-align: text-top;
}

.info {
  color: #70757a;
  font-size: 13px;
}
.fahrenheit {
  text-decoration: none;
}
#celsius-link {
  text-decoration: none;
}
.weather-temperature .active {
  color: black;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-day {
  color: black;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  font-size: 13px;
  color: black;
  opacity: 0.5;
}

.weather-forecast-temperature-max {
  font-size: 13px;
  color: black;
}
